.button {
  border: 1px solid black;
  margin-right: 2px;
  border-radius: 4px;
}
.red {
  background-color: red;
}

.green {
  background-color: green;
}

.grey {
  background-color: grey;
}

.button > p {
  display: flex;
}
